
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ actor.name }} - NTUAFlix</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">

</head>
<body>
    <div class="top-header">
        <div class="header-title">
            <a href="/">NTUAFlix</a>
        </div>
        <div class="header-search">
            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search for movies, actors...">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    

    <main class="content">
        <div class="actor-container">
            <section class="actor-details">
                <img src="{{ actor.namePoster }}" alt="{{ actor.name }}" class="actor-image">
                <div class="actor-info">
                    <h1>{{ actor.name }}</h1>
                    <p>Profession: <span class="info-detail"> {{ actor.profession.replace('_', ' ') }}</span></p>
                    <p>Birth Year: <span class="info-detail">{{ actor.birthYr }}</span></p>
                    {% if actor.deathYr %}
                        <p>Death Year: <span class="info-detail">{{ actor.deathYr }}</span></p>
                    {% endif %}
                </div>
            </section>

        <section class="actor-movies">
            <h2>Movies Featuring {{ actor.name }}</h2>
            <div class="movie-list">
              {% for movie in actor.movies %}                      
                <a href="{{ url_for('movie_page', movie_title=movie.titleID) }}" class="movie"> <!-- Update 'movie_page' with the correct route name and 'movie_title' with the correct variable -->
                    {% if movie.titlePoster %}
                    <img src="{{ movie.titlePoster }}" alt="{{ movie.originalTitle }}">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default_poster.png') }}" alt="Default Image">
            {% endif %}                    <h3>{{ movie.originalTitle }}</h3>
                    <p>Rating: {{ movie.rating.avRating }}</p>
                </a>
              {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>
