
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ genre_name }} Movies - NTUAFlix</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body class="{{ 'with-sub-header' }}">
    <div class="top-header">
        <div class="header-title">
            <a href="/">NTUAFlix</a>
        </div>
        <div class="header-search">
            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search for movies, actors...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <main>
    <header class="sub-header">
        <h1>Movies in: {{ genre_name }}</h1>
    </header>
    <section>
        <div class="movie-list">
            {% for movie in movies %}
                <div class="movie">
                    <a href="{{ url_for('movie_page', movie_title=movie.titleID) }}">
                        {% if movie.titlePoster %}
                        <img src="{{ movie.titlePoster }}" alt="{{ movie.originalTitle }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default_poster.png') }}" alt="Default Image">
                {% endif %}                        <h3>{{ movie.originalTitle }}</h3>
                        <p>Rating: {{ movie.rating.avRating }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

</body>
</html>
