<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NTUAFlix</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">

</head>
<body>
    <div class="top-header">
        <div class="header-title">
            <a href="/">NTUAFlix</a>
        </div>
        <div class="header-search">
            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search for movies, actors...">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    

    <main>
        {% for genre, movies in genres_data.items() %}
            <section>
                <h2>{{ genre }}</h2>
                <div class="movie-list">
                    {% for movie in movies %}
                        <div class="movie">
                            <img src="{{ movie.titlePoster }}" alt="{{ movie.originalTitle }}">
                            <h3>{{ movie.originalTitle }}</h3>
                            <p>Rating: {{ movie.rating.avRating }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% else %}
            <p>No genres or movies available.</p>
        {% endfor %}
    </main>
</body>
</html>
